
h1{
    color: #66BFBF;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
  
}
.p{
    color:#66BFBF
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    margin-top: 20px;
    font-weight: normal;
    color: #66BFBF;
    padding-bottom: 20px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom:none;
    width: 4%;
    margin: 50px auto;
}
.intro{
    width: 30%;
    margin: auto;
}

body{
    margin: 0px;
    font-family:'Merriweather', serif;
    text-align: center;
    color: #40514E;
}
.top{
    background-color: #e4f9f5;
    position: relative;
    padding: 50px;
}
.middle{
    margin: 50px;
     
}
.bottom{
    background-color: #66BFBF;
    padding: 50px 0 20px;

}

.bottom-cloud{
    position: absolute;
}

.top-cloud{
    position: relative;
    left: 200px;
    top: 50px;
}
.skill-row{
    width: 50%;
    margin: 30px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.code{
    width: 20%;
    float: left;
    margin-right: 30px;
}
.chess{
    width: 20%;
    float: left;
    margin-right:30px;
    
}

.contact-me{
    width: 40%;
    margin: 40px auto 40px;
}
.pro{
    width: 10%;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .pi{
    margin-bottom: 50px;
  }
  a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 10px;
    text-decoration: none;
  }

  a:hover{
    color: #EAF6F6;
  }
  .copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }